# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [3]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user' ,sep = '|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [8]:
round(users.groupby('occupation')['age'].mean(), 1)

occupation
administrator    38.7
artist           31.4
doctor           43.6
educator         42.0
engineer         36.4
entertainment    29.2
executive        38.7
healthcare       41.6
homemaker        32.6
lawyer           36.8
librarian        40.0
marketing        37.6
none             26.6
other            34.5
programmer       33.1
retired          63.1
salesman         35.7
scientist        35.5
student          22.1
technician       33.1
writer           36.3
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [27]:
def male_num (x):
  if x == 'M': return 1
  else: return 0

users['is_male'] = users['gender'].apply(male_num)

male_occ_ratio = (users.groupby('occupation')['is_male'].sum()/users.groupby('occupation')['user_id'].count()*100)
male_occ_ratio .sort_values(ascending=False)

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men

In [38]:
from posixpath import join
def fem_num (x):
  if x == 'F': return 1
  else: return 0

# users['is_fem'] = users['gender'].apply(fem_num)

# fem_occ_ratio = (users.groupby('occupation')['is_fem'].sum()/users.occupation.value_counts()*100)

# occ_by_gen = fem_occ_ratio.join(male_occ_ratio)

# users[['occupation', 'gender', 'user_id']].groupby(['occupation', 'gender']).agg('count')
users.groupby(['occupation']).agg('count')

НЕ РЕШИЛ

               user_id  age  gender  zip_code  is_male  is_fem
occupation
administrator       79   79      79        79       79      79
artist              28   28      28        28       28      28
doctor               7    7       7         7        7       7
educator            95   95      95        95       95      95
engineer            67   67      67        67       67      67
entertainment       18   18      18        18       18      18
executive           32   32      32        32       32      32
healthcare          16   16      16        16       16      16
homemaker            7    7       7         7        7       7
lawyer              12   12      12        12       12      12
librarian           51   51      51        51       51      51
marketing           26   26      26        26       26      26
none                 9    9       9         9        9       9
other              105  105     105       105      105     105
programmer          66   66      66        66       66      66
retired             14   14      14        14       14      14
salesman            12   12      12        12       12      12
scientist           31   31      31        31       31      31
student            196  196     196       196      196     196
technician          27   27      27        27       27      27
writer              45   45      45        45       45      45