# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [22]:
series1 = pd.Series(np.random.randint(1, 4, size = 100))
series2 = pd.Series(np.random.randint(1, 3, size = 100))
series3 = pd.Series(np.random.randint(10000, 30000, size = 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [23]:
df = pd.DataFrame(series1)
df['col2'] = series2
df['col3'] = series3

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [25]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

    bedrs  bathrs  price_sqr_meter
0       2       1            16315
1       2       1            24475
2       3       2            14596
3       2       1            11510
4       3       2            18202
..    ...     ...              ...
95      1       2            13789
96      3       2            11568
97      3       1            14470
98      2       1            22860
99      3       1            16344

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [26]:
bigcolumn = pd.concat([series1, series2, series3])

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [27]:
bigcolumn

0         2
1         2
2         3
3         2
4         3
      ...
95    13789
96    11568
97    14470
98    22860
99    16344
Length: 300, dtype: int64

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [29]:
bigcolumn.reset_index(drop = True)

0          2
1          2
2          3
3          2
4          3
       ...
295    13789
296    11568
297    14470
298    22860
299    16344
Length: 300, dtype: int64